:root{
    --blanco: #ffffff;
    --primario: #134611;
    --secundario: #e0ca3c;
    --naranja: #f18f01;
    --verde:#119822;
    --azul:#083d77;


}
html{
    box-sizing : border-box;
    min-height: 100%;
}

*, *:before, *:after{
    box-sizing: inherit;
}

body{
    font-family: 'Krub',sans-serif;
    background-image:linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    min-height: 100%;
    max-width: 1200;
}

.header {
    display: grid;
    justify-content: center;
    background-color: var(--blanco);
}
.barra {
    background-color: var(--verde);
    padding: 1rem 0;
}
.barra .nav {
    display: grid;
    grid-template-columns: repeat(3, 33.33%);
    grid-template-rows:100%; 
    grid-template-areas: "uno dos tres";
    justify-content: center;
}
.barra  .nav .uno{
    grid-area: uno;
}
.barra .nav .dos{
    grid-area: dos;
}
.barra .nav .tres{
    grid-area: tres;
}
.barra .nav a {
    font-family: var(--fuentePrincipal);
    font-size: 3rem;
    text-align: center;
    color: var(--blanco);
    text-decoration: none;
    transition: color .2s ease-in-out;
}
.barra .nav a:hover {
    /* color: var(--verdeOscuro); */
    color: #96fd00;
    padding-bottom: 3px;
    border-bottom: 2px solid #fff;
    /* border-bottom: 2px solid var(--verde); */

}

.uno, 
.dos, 
.tres:hover{
    border-bottom: 2px solid var(--verde);
}
@media (max-width: 768px) {

   .barra .nav {
        display: grid; 
        /* grid-template-columns: 1; */
        grid-template-rows:repeat(3,auto); 
        grid-template-columns:95%;
        grid-gap: 1rem;

        grid-template-areas: "uno" 
                            "dos" 
                            "tres";
        justify-content: center;
    }
    .barra .nav img{
    align-items: flex-start;
    text-align: start;
    }
}



.contenedor{
    position: absolute;
    text-align: center;
    margin-top: 350px;
    /* top: 200px;  */
    left: 50%;
    transform: translate(-50%,-50%);
}
.contenido-imagen{
    width: 600px;
    height: 338px;
    overflow: hidden;
    cursor: pointer;
}

.contenido-imagen img{
    width: 100%;
    transition: .7s;
}
.contenedor:hover .contenido-imagen img{
    transform: rotate(-1deg) scale(1.2);
    filter:blur(6px);
    filter: contrast(180%);
    filter: brightness(.5);
    opacity: .8;
}
.texto{
    position: absolute;
    top: 30px;
    left: 30px;
    right: 30px;
    bottom: 30px;

}
.seccionTexto{
    color: #fff;
    text-transform: uppercase;
    padding: 0 20px;
    opacity: 0;
}
.seccionTexto h2{
    color: black;
    font-size: 25px;
}
.seccionTexto h2 #Verde{
    color: #96fd00;
    padding-bottom: 3px;
    border-bottom: 2px solid #fff;
}
.seccionTexto p {
    position: absolute;
    top: 180px;
    width: 250px;
    border-left: 4px solid #96FD00 ;
    padding: 0 10px;
   }

.texto::before,
.texto::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: .7s;
    /* opacity: 1; */
}
.texto::before {
    border-top: 4px solid #fff;
    border-bottom: 4px solid #fff;
    /* transform: scale(1,0); */
    transform: scale(0,1);
   }
   
   .texto::after {
    border-left: 4px solid #fff;
    border-right: 4px solid #fff;
    transform: scale(1,0);
  

    /* transform: scale(0,1); */
   }
    
   .contenedor:hover .seccionTexto {
    opacity: 1;
   }
   .contenedor:hover .texto::before,
   .contenedor:hover .texto::after {
    transform: scale(1,1);
  

   }



   @media (max-width: 768px) {
    .contenedor{
        position: absolute;
        text-align: center;
        margin-top: 170px;
        /* top: 200px;  */
        left: 50%;
        transform: translate(-50%,-50%);
    }
    .contenido-imagen{
        width: 300px;
        height: 179px;
        overflow: hidden;
        cursor: pointer;
    }
 .contenido-imagen img{
    width: 100%;
    transition: .7s;
 }
 .contenedor:hover .contenido-imagen img{
    transform: rotate(-1deg) scale(1.2);
    filter:blur(6px);
    filter: contrast(180%);
    filter: brightness(.5);
    opacity: .8;
}
.texto{
    position: absolute;
    top: 30px;
    left: 30px;
    right: 30px;
    bottom: 30px;

}
.seccionTexto{
    color: var(--blanco);
    text-transform: uppercase;
    padding: 0 10px;
    opacity: 0;
}
.seccionTexto h2{
    color: black;
    font-size: 15px;
}
.seccionTexto h2 #Verde{
    color: #96fd00;
    padding-bottom: 3px;
    /* border-bottom: 2px solid #fff; */
}
 .seccionTexto p {
    position: absolute;
    top: 60px;
    width: 250px;
    border-left: 4px solid #96FD00 ;
    padding: 0 10px;
    font-size: 15px;
   } 

.texto::before,
.texto::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: .7s;
    /* opacity: 1; */
}
.texto::before {
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    /* transform: scale(1,0); */
    transform: scale(0,1);
   }
   
   .texto::after {
    border-left: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: scale(1,0);
    }
}

/* ---------------------------------------------------- */
.imagen img{
    /* position: absolute; */
    top: 30px;
    left: 30px;
    right: 10px;
    bottom: 10px;

}
   .contenedor2 {
    max-width: 1200px;
    margin: 0 auto;
    position:absolute;
    top:700px;
}
.contenedor2  h2{
    color: #96fd00;
    padding-bottom: 3px;
    /* border-bottom: 2px solid #fff; */
    text-align: center;
    background-color: black;
    opacity: .3;
}

.imagen:hover .texto2 img{
    transform: rotate(-3deg) scale(1.2);
    filter:blur(6px);
    filter: contrast(130%);
    filter: brightness(.5);
     opacity: .98; 
}
.lista {
    padding: 0;
    list-style: none;
}
.lista li {
    float: left;
    width: 50%;
    padding: 20px;
    text-align: center;
}
@media (min-width: 768px) {
    .lista li {
        width: 50%;
    }
}
.lista li img {
    /* border: 10px solid rgba(128, 1, 195, .45);
    transition: border-color .3s ease-in-out; */
    width: 300px;
    height: 300px;
}
/* .lista li img:hover {
    border: 10px solid rgba(128, 1, 195, 1);
} */
.lista p {
    font-size: 1.6em;
    font-weight: bold;
    margin: 10px 0 0 0;
}
span.precio {
    color: #ffce00;
    font-size: 2em;
}

.imagen img::before,
.imagen img::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: .5s;
    /* opacity: 1; */
}
.imagen img::before {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    /* transform: scale(1,0); */
    transform: scale(0,1);
   }
   
   .imagen img::after {
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    transform: scale(1,0);
  

    /* transform: scale(0,1); */
   }

   .imagen img:hover img::before,
   .imagen img:hover img::after {
    transform: scale(1,1);
  

   }
   /* ----------------------------------- */
   .grid {
 
    display: grid;
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
    align-content: center;
   

    grid-template-rows: repeat(6, auto);
    grid-template-columns:35% 35% 30%;
    grid-gap: 2rem;
    justify-content: center;  
 

    grid-template-areas: "g g g"
                        "a b h"
                        "c d h"
                        "e f h"
                        "firma firma firma"
                        "contactos contactos contactos"
                        ;
               
  }

  .a,.b,.c,.d,.e,.f,.h,.g,.firma{
    background: var(--blanco);
    /* padding: 20px; */
    padding: 1rem;
    border-radius: 4px;
    justify-content: center;
    background-repeat:no-repeat;
    background-position:center; 
    border-image: fixed ;
    
  }
 .grid .h{
    
    /* background-image: url(../img/Sidebar.jpg); */
    grid-area: h;
    min-height: 30rem;
    display: flex;
    text-align: center;
    justify-content: top;
    align-items: top;
 }


.grid .g{
   grid-area: g;
   grid-template-rows: 300px;
   text-align: center;
   display: flex;
   align-items: center;
   justify-content: center;
   /* height: 300px; */

}
@media (max-width: 768px) {
    .grid{
        width: 95%;
        margin: 0 auto;
        align-content: center;
       
    
        grid-template-rows: repeat(10, auto);
        grid-template-columns:95%;
        grid-template-areas: "g"
        "a"
        "b"
        "c"
        "d"
        "e"
        "f"
        "h"
        "firma"
        "contactos"
        ;
    }
}

 .grid .a {
    grid-template-columns:35%;
    grid-area: a;
    /* background-image: url(../img/capitulo1.jpg); */
    background-repeat:no-repeat;
    background-position:center; 
    border-image: fixed ;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
   

  }

  .grid .b {
    grid-template-columns:35%;
    grid-area: b;
    /* background-image: url(../img/capitulo2.jpg); */
    background-repeat:no-repeat;
    background-position:center; 
    border-image: fixed ;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;

  }
  .grid .c {
   grid-area: c;
   /* background-image: url(../img/capitulo3.jpg); */
   background-repeat:no-repeat;
   background-position:center; 
   border-image: fixed ;
   display: flex;
   text-align: center;
   justify-content: center;
   align-items: center;
  }
 .grid .d {
    grid-area: d;
    /* background-image: url(../img/capitulo4.jpg); */
    background-repeat:no-repeat;
    background-position:center; 
    border-image: fixed ;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;

  }
  .grid .e {
    grid-area: e;
    /* background-image: url(../img/capitulo55.jpg); */
    background-repeat:no-repeat;
    background-position:center; 
    border-image: fixed ;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;

  }
  .grid .f {
    grid-area: f;
    /* background-image: url(../img/capitulo6.jpg); */
    background-repeat:no-repeat;
    background-position:center; 
    border-image: fixed ;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;

  }
  .grid .contactos{
grid-area:contactos; 
  }
  .grid .firma{
    grid-area:firma; 
   
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height:  400px;
      }

  .texto-nosotros{
    font-family: var(--fuentePrincipal);
    color: var(--azul);
    text-align: center;
    line-height: 1.2;
    margin: 1rem 0;
  }

  .leer{
        background-color: var(--secundario);
        text-decoration: none;
        padding: 1rem 3rem;
        border-radius: 0.3rem;
        display: inline-block;
        color: var(--blanco);
        text-decoration: none;
        text-transform: uppercase;
        font-size: 1.2rem;
        font-weight: 700;
        margin-top: .7rem;
        border: none;
       align-items: inherit;
       align-content: center;
  }
  .leer:hover{
    cursor: pointer;
    background-color: var(--primario);
}


  .footer{
    /* position: absolute; */
    bottom: 0;
    align-self: flex-end;
    background-color: var(--verde);
    padding: 1rem 0;
    margin-top: 2rem;
    margin-bottom: 0;
    text-align: center;
    color: var(--blanco);
   
}


.footer p {
    color: var(--blanco);
    font-size: 3rem;
}
@media (max-width:768px) {
    .footer p {
        color: var(--blanco);
        font-size: 1rem;
    }

}
.copyright{
    font-family: var(--fuenteSecundaria);
}